header {
	text-align: center;
}

main {
	padding: 1em 2em;
}

main .controls {
	padding: 0.5em 0;
}

main .controls > div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0.5em 0;
}

.button {
	background-color: #DDD;
	border: 1px solid #333;
	border-radius: 10px;
	color: #333;
	cursor: pointer;
	flex: 0 1 auto;
	padding: 5px 10px;
}

.button:hover {
	background-color: pink;
}

.button.active {
	background-color: salmon;
}
